.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: #270858;
    padding: 10px;
    color: white;
}
.brand{
    font-weight: bolder;
    width: 20%;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    
}
.search-bar{
    width: 60%;

}
.search-bar input{
    width: 55%;

    /* text-align: center; */
}
input::placeholder{
    padding: 10px;
    font-weight: bold;

}
.nav-bar-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #4b1b78;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.cart{
    width: 20%;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgb(224, 207, 222);
}
::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 10px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;

}
.img img{
    width: 350px;
    height: 350px;
}
.con{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}